@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss"; /* includes all utilities */

@theme {
  /* color */
  --color-lavender: #e6e6fa;
  --color-plum: #dda0dd;
  --color-sunPurple: #1d1160;
  --color-rockies: #33006f;
  --color-hallmark: #452c63;
  --color-amber: #fbbf24;
  --color-textColor: #333333;
  --color-cta-btn: #3f51b5;

  /* font */
  --font-playfair: "Playfair Display", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* breakpoints */
  --breakpoint-fold: 300px;
  --breakpoint-xxs: 480px;
  --breakpoint-xs: 600px;
  --breakpoint-sm: 820px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1060px;
}

.bg-howItWorks-gradient {
  background: radial-gradient(
    circle at center,
    var(--color-lavender) 0%,
    var(--color-lavender) 10%,
    transparent 60%,
    transparent 100%
  );
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.no-focus-outline:focus,
.no-focus-outline svg:focus {
  outline: none;
}
